.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.restaurant-visited {
	text-decoration: line-through;
    font-weight: bolder;
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}
.btn {
    background-color: lightblue;
}
