{% extends "base.html" %}
 {% load static %}
 {% block title %}
        <h2>Restaurants You've Visited:</h2>
{% endblock %}
    {% block content %}
        <button class="btn btn-default"><a href="{% url 'index' %}">Back</a></button>
    <br>
    <ul class="list-group-item">
        {% for restaurant in visited_restaurants %}
            <li>{{ restaurant.text }}
                <p style="color: red"> {{ restaurant.comment }}</p>
            </li>
            <br>
        {% endfor %}
    </ul>
    {% endblock %}